<html lang="kr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title>To Do List</title>
    </head>

    <body>
        <h1>To Do List </h1>
        <form action='/list' method='post'>
            <div class="input-group mb-3" style="width: 50%;">
                <input type="text" class="form-control" name='content' id="input">
                <button type="submit" class="btn btn-outline-secondary" id="button">추가</button>
            </div>
        </form>
        <form action='/delete' method='post'>
            <ul class="list-group list-group-flush" style="width: 50%;" id="list">
                <% for(i = 0; i < list.length; i++) { %>
                <li class="list-group-item">
                    <%=list[i].content %>
                    <button type='submit' class='btn btn-outline-secondary' name='content' id="delete" value='<%=list[i].content %>' style='float: right;'>삭제</button>
                </li>
                <% } %>
            </ul>
        </form>

    </body>
</html>