@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

body {
    font-family: "Nanum Brush Script", cursive;
}
#title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}
#inputSection {
    margin: auto;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}
#list {
    margin: auto;
    width: 50%;
}
.listContent {
    height: 20px;
}
#delete {
    float: right;
}
#titleGrid {
    display: grid;
    grid-template-columns: 39.2% auto;
    padding-top: 15px;
}
#tree {
    justify-self: end;
}
#input {
    border: 2px solid black;
    box-shadow: none;
}
#add {
    border: 2px solid black;
    border-left: none;
}