@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

body {
    font-family: "Nanum Brush Script", cursive;
}
#title {
    margin-bottom: 20px;
    text-align: center;
}
#inputSection {
    margin: auto;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}
#list {
    margin: auto;
    width: 50%;
}
.listContent {
    height: 20px;
}
#delete {
    float: right;
}