@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

body {
    font-family: "Nanum Brush Script", cursive;
}
#title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}
path.column {
    animation: fadeIn 4s;
}
path.leaves {
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
path.column.fadeOut {
    animation: fadeOut 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
path.leaves.fadeOut {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#inputSection {
    margin: auto;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}
#list {
    margin: auto;
    width: 50%;
}
.listContent {
    height: 20px;
}
#delete {
    float: right;
}
#titleGrid {
    display: grid;
    grid-template-columns: 39.2% auto;
    padding-top: 15px;
}
#tree {
    justify-self: end;
}
#input {
    border: 2px solid black;
    box-shadow: none;
}
#add {
    border: 2px solid black;
    border-left: none;
}